* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.request_answers {
    margin-top: 10px;
    max-width: 900px;
margin-left: 25%;
}

header{
    width: 100%;
    margin-bottom: 100px;
    
}

.head {
    display: flex;
    justify-content: space-between;
}
.sinistra, .destra {
    display: flex;
}

.sinistra {
    justify-content: start;
}
.destra {
    justify-content: end;
}
img{
    width: 150px;
    object-fit: cover;
}


h1{
    font-size: 25px;
    margin-bottom: 18px;
    margin-top: 18px;
    margin-left: -20px;
}

h2{
    font-size: 25px;
    margin-bottom: 18px;
    margin-top: 18px;
}

h1, h2 {
    color: #5f6368;
}

i {
    font-size: 30px;
    color: #5f6368;
    margin-top: 19px;
}
span {
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 22px;
    margin-bottom: 10px;
    background-color: tomato;
    padding: 11px 15px 11px 15px;
    border-radius: 30px;
    color: white;
}